﻿@model SportsStore.Core.Models.ViewModels.ProductsListViewModel
@{
    ViewBag.Title = Model.CurrentCategory ?? "All Products";
}

<div class="row">
    <h1>Products</h1>

    @foreach (var product in Model.Products)
    {
        Html.RenderPartial("ProductSummary", product);
    }
    
    <nav class="pull-right">
        @Html.FormattedPageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory }))
    </nav>
    
</div>



