﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewBag.Title</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-header">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Sports Store <small>Administration</small></h1>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-3">
                Menu here
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Assets/js/jquery.min.js"></script>
    <script src="~/Assets/js/bootstrap.min.js"></script>
</body>
</html>
