﻿@model SportsStore.Core.Models.Entities.Product

<div class="item">
    <h3>@Model.Name</h3>
    @Model.Description
    <h4>@Model.Price.ToString("c")</h4>
    
    @using (Html.BeginForm("AddToBasket", "Basket"))
    {
        @Html.HiddenFor(x => x.ProductId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)

        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add to basket</button>
    }
</div>
