﻿@model SportsStore.Core.Models.Entities.Product
@{
    ViewBag.Title = "Edit Product - " + Model.Name;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Edit @Model.Name</h1>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <button type="submit" class="btn btn-success">Save</button> @Html.ActionLink("Cancel and return to list", "Index")
}
