﻿@model IEnumerable<SportsStore.Core.Models.Entities.Product>
@{
    ViewBag.Title = "All Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>All Products</h1>

@if (Model.Any())
{
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td>@Html.ActionLink(product.Name, "Edit", new {product.ProductId})</td>
                    <td>@product.Price.ToString("c")</td>
                    <td>
                        @using (Html.BeginForm("Delete", "Admin"))
                        {
                            @Html.Hidden("ProductID", product.ProductId)
                            <button type="submit" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
        
        <p>@Html.ActionLink("Add a new product", "Create")</p>
    </div>
}
