﻿@model IEnumerable<SportsStore.Core.Models.ViewModels.NavigationLink>

@if (Model != null && Model.Any())
{
    <nav class="hidden-sm">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var link in Model)
            {
                <li class="@(link.IsSelected ? "active" : null)">@Html.RouteLink(link.Text, link.RouteValues)</li>
            }
        </ul>
    </nav>
}
