﻿@model SportsStore.Core.Models.Entities.Basket

@if (Model.Lines.Any())
{
    <div class="pull-right text-right">
        <p><strong>Your basket:</strong> @Model.Lines.Sum(l => l.Quantity) items
        <br/><a href="@Url.Action("Index", "Basket")"><span class="glyphicon glyphicon-shopping-cart"></span> Go to basket</a></p>
    </div>
}
