﻿@model SportsStore.Core.Models.Entities.ShippingDetails
@{
    ViewBag.Title = "Sports Store - Check out";
}

<h2>Check out now</h2>
<p>Please enter your details and we'll ship your goods right away!</p>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()

    <h3>Ship to</h3>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <h3>Address</h3>
    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine1)
        @Html.TextBoxFor(m => m.AddressLine1, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine1)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine2)
        @Html.TextBoxFor(m => m.AddressLine2, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine2)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AddressLine3)
        @Html.TextBoxFor(m => m.AddressLine3, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AddressLine3)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.County)
        @Html.TextBoxFor(m => m.County, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.County)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Postcode)
        @Html.TextBoxFor(m => m.Postcode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Postcode)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Country)
        @Html.TextBoxFor(m => m.Country, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Country)
    </div>

    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.GiftWrap) @Html.DisplayNameFor(m => m.GiftWrap)
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Complete order</button>
}
