﻿@model SportsStore.Core.Models.ViewModels.BasketIndexViewModel
@{
    ViewBag.Title = "Sports Store - Your Basket";
}

<h2>Your Basket</h2>

<table class="table table-responsive">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Item</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var basketLine in Model.Basket.Lines)
    {
        <tr>
            <td>@basketLine.Quantity</td>
            <td>@basketLine.Product.Name</td>
            <td>@basketLine.Product.Price.ToString("c")</td>
            <td>@((basketLine.Quantity * basketLine.Product.Price).ToString("c"))</td>
            <td>
                @using (Html.BeginForm("RemoveFromBasket", "Basket"))
                {
                    @Html.Hidden("ProductId", basketLine.Product.ProductId)
                    @Html.HiddenFor(x => x.ReturnUrl)
                    <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                }
            </td>
        </tr>
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="4">Total:</td>
        <td>@Model.Basket.CalculateTotalValue().ToString("c")</td>
    </tr>
    </tfoot>
</table>

<p>
    <a href="@Model.ReturnUrl" class="btn btn-default">Continue shopping</a>
    <a href="@Url.Action("CheckOut")" class="btn btn-primary">Check out now</a>
</p>
