﻿.item {
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
}

.page-header {
    margin-top: 20px;
}

.input-validation-error {
    color: #a94442;
}

input.input-validation-error {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.validation-summary-errors li {
    color: #a94442;
}

.field-validation-error {
    color: #a94442;
}
